@media screen and (max-width: 1019px) {
    .idc-section {
        max-width: 610px;
    }
    .idc-container {
        max-width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
    .idc-logo {
        width: 256px;
    }
    .idc-about .idc-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .idc-info .idc-container {
        padding-bottom: 50px;
    }
}

@media (max-width: 699px) {
    .idc-title {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.02em;
    }
    .idc-h1 {
        /* font-size: 25px; */
        /* line-height: 30px; */
        font-size: 7.8vw;
        line-height: 9.3vw;
    }

    /* ******head*** */
    .idc-head .idc-container {
        padding-top: 50px;
        padding-bottom: 155px;
    }
    .idc-h1 {
        max-width: 90vw;
    }

    /* ******about**** */
    .idc-about .idc-container {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .idc-notebook-block {
        padding-right: 20px;
    }
    .idc-text-block {
        max-width: 75vw;
    }
    .idc-notebook-block .idc-title {
        max-width: 178px;
    }
    .idc-text-block .idc-text {
        max-width: 100%;
    }
    .idc-notebook {
        position: relative;
        bottom: 0;
        right: 0;
        margin-left: auto;
    }
    .idc-cards-block {
        margin-top: 10px;
    }
    .idc-card {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 35px;
    }
    /* ******info**** */
    .idc-info .idc-container {
        padding-bottom: 50px;
    }

    .idc-info p > strong {
        font-size: 16px;
        line-height: 18px;
    }
    .idc-info p:not(:first-child) {
        margin-top: 40px;
    }
    .idc-info ul {
        margin-top: 20px;
        max-width: 90%;
    }

    .idc-info ul li {
        font-size: 14px;
        line-height: 16px;
    }
    .idc-info ul li::before {
        top: 7px;
    }

    /* ******footer**** */
    .idc-footer .idc-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .idc-swiper {
        display: none;
    }
    .idc-swiper-pagination {
        display: block;
        text-align: center;
    }
    .idc-swiper-pagination .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        opacity: 1;
        border: 1px solid #d5d9de;
        background: #000000;
        margin: 0 1px !important;
    }
    .idc-swiper-pagination .swiper-pagination-bullet-active {
        background: #d5d9de;
    }
}
